html {
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loginBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #FF7A00;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #F8F8FF;
  overflow: hidden;
}

#registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: clamp(3rem, 2.5vw, 10rem) clamp(5rem, 2.5vw, 10rem);
  background-color: #F8F8FF;
  gap: 1.5rem;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
}

#loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: clamp(3rem, 2.5vw, 10rem) clamp(5rem, 2.5vw, 10rem);
  background-color: #F8F8FF;
  gap: 1.5rem;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
}

.hide {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.show {
  opacity: 1;
  position: relative;
  pointer-events: all;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputContainer input {
  height: 3.5rem;
  width: 22rem;
  border-radius: 0.5rem;
  border: solid 1px #232323;
  padding: 0 1rem;
  font-size: 1rem;
}
.inputContainer input::placeholder {
  color: #232323;
}
.inputContainer input:active, .inputContainer input:focus {
  outline: none;
}

.bigBtn {
  height: 3.5rem;
  width: 14rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FF7A00;
  color: #F8F8FF;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

.wrongPass {
  border: solid 2px #ff0000 !important;
  background-color: rgba(255, 186, 186, 0.4156862745);
}

.goodPass {
  border: solid 1px #232323 !important;
  background-color: #F8F8FF;
}

.disabledBtn {
  background-color: #c4c4c4;
  pointer-events: none;
}

.enabledBtn {
  background-color: #FF7A00;
  pointer-events: all;
}

.linkOrange {
  font-weight: 700;
  color: #FF7A00;
}
.linkOrange:hover {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #232323;
  color: #F8F8FF;
  text-align: center;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  margin-left: 0.5rem;
  width: clamp(10rem, 15vw, 20rem);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.homeContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.homeContainer > div {
  height: 100%;
}
.homeContainer #leftContainer {
  width: 25dvw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homeContainer #leftContainer #homeLogo {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.homeContainer #leftContainer .Wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 0.8;
}
.homeContainer #leftContainer .Wrapper a {
  color: #232323;
}
.homeContainer #leftContainer .Wrapper a:link {
  text-decoration: none;
}
.homeContainer #leftContainer .Wrapper .menuWrapper {
  display: flex;
  gap: 1.5rem;
}
.homeContainer #leftContainer .Wrapper .menuWrapper p {
  font-weight: 900;
  font-size: 2rem;
}
.homeContainer #leftContainer .Wrapper .menuWrapper img {
  align-self: center;
}
.homeContainer #leftContainer > a {
  color: #232323;
  display: flex;
  justify-content: center;
}
.homeContainer #leftContainer a:link {
  text-decoration: none;
}
.homeContainer #leftContainer .profilContainer {
  background-color: #F8F8FF;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  width: 90%;
  display: flex;
  padding: 1rem;
}
.homeContainer #leftContainer .profilContainer img {
  width: 15%;
  height: auto;
  border-radius: 0.5rem;
}
.homeContainer #leftContainer .profilContainer .userInfo {
  margin-left: 1rem;
}
.homeContainer #leftContainer .profilContainer .userInfo .usernameInfo {
  font-weight: 900;
  font-size: 1.5rem;
}
.homeContainer #leftContainer .profilContainer .userInfo .tagInfo {
  font-size: 1.5rem;
}
.homeContainer #middleContainer {
  width: 45dvw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0rem 1rem;
}
.homeContainer #middleContainer::-webkit-scrollbar {
  display: none;
}
.homeContainer #middleContainer .writeBetsContainer {
  min-height: 30dvh;
  background-color: #F8F8FF;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.homeContainer #middleContainer .writeBetsContainer textarea {
  background-color: #F8F8FF;
  align-self: center;
  width: 95%;
  height: 60%;
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
  resize: none;
  padding: 1rem 2rem;
}
.homeContainer #middleContainer .writeBetsContainer textarea:focus {
  outline: none;
}
.homeContainer #middleContainer .writeBetsContainer textarea::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.homeContainer #middleContainer .writeBetsContainer .betsButtonContainer {
  display: flex;
  height: 20%;
}
.homeContainer #middleContainer .writeBetsContainer .betsButtonContainer button {
  border: none;
  border-radius: 0.5rem;
  background-color: #FF7A00;
  color: #F8F8FF;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  height: 95%;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 900;
}
.homeContainer #middleContainer .writeBetsContainer .betsButtonContainer #fill {
  width: 77.5%;
}
.homeContainer #middleContainer #orangeSeparator {
  width: 50%;
  min-height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #FF7A00;
  align-self: center;
}
.homeContainer #middleContainer .bets {
  background-color: #F8F8FF;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homeContainer #middleContainer .bets .userInfoWrapper {
  display: flex;
  gap: 1rem;
}
.homeContainer #middleContainer .bets .userInfoWrapper img {
  width: 10%;
  height: auto;
  border-radius: 0.5rem;
}
.homeContainer #middleContainer .bets .userInfoWrapper .userInfo .usernameInfo {
  font-weight: 900;
}
.homeContainer #middleContainer .bets .userInfoWrapper .userInfo .tagInfo {
  font-weight: 400;
}
.homeContainer #middleContainer .bets .betContent {
  margin-left: 10%;
  padding-left: 1rem;
}
.homeContainer #middleContainer .bets .actionsWrapper {
  display: flex;
  gap: 7.5rem;
  margin-left: 10%;
  padding-left: 1rem;
}
.homeContainer #middleContainer .bets .actionsWrapper > * {
  display: flex;
  gap: 1rem;
}
.homeContainer #middleContainer .bets .actionsWrapper .like img {
  align-self: center;
}
.homeContainer #middleContainer .bets .actionsWrapper .comment img {
  align-self: center;
}
.homeContainer #middleContainer .bets .actionsWrapper .share img {
  align-self: center;
}
.homeContainer #middleContainer .profilContainer {
  background-color: #F8F8FF;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.homeContainer #middleContainer .profilContainer::-webkit-scrollbar {
  display: none;
}
.homeContainer #middleContainer .profilContainer #profilBanner {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  grid-row-start: 1;
  grid-column-start: 1;
  background-image: url(/client/ressources/logo_iut.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.homeContainer #middleContainer .profilContainer img {
  width: 15%;
  height: auto;
  border-radius: 0.5rem;
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: flex-end;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.homeContainer #middleContainer .profilContainer .userInfo {
  margin-top: 1rem;
  margin-left: 1rem;
}
.homeContainer #middleContainer .profilContainer .userInfo .usernameInfo {
  font-weight: 900;
  font-size: 1.5rem;
}
.homeContainer #middleContainer .profilContainer .userInfo .tagInfo {
  font-size: 1.5rem;
}
.homeContainer #middleContainer .profilContainer .bio {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
}
.homeContainer #middleContainer .profilContainer .userStatsInfo {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  gap: 5rem;
}
.homeContainer #middleContainer .profilContainer .userStatsInfo .followerStat {
  display: flex;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.homeContainer #middleContainer .profilContainer .userStatsInfo .subStat {
  display: flex;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.homeContainer #rightContainer {
  width: 25dvw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homeContainer #rightContainer .randomUsersContainer {
  background-color: #F8F8FF;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  margin-top: 1rem;
  padding: 2rem;
  height: 70%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.homeContainer #rightContainer .randomUsersContainer::-webkit-scrollbar {
  display: none;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersTitle {
  font-size: 1.5rem;
  font-weight: 900;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .randomUser:not(:first-child) {
  margin-top: 2rem;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .randomUser {
  display: flex;
  gap: 1rem;
  height: 100%;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .randomUser img {
  width: 15%;
  height: auto;
  border-radius: 0.5rem;
  align-self: center;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .randomUser .randomUserInfo .randomUsernameInfo {
  font-size: 1.25rem;
  font-weight: 900;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .randomUser .randomUserInfo .randomTagInfo {
  font-size: 1.25rem;
  font-weight: 400;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .randomUser .check {
  width: 10%;
  height: auto;
  align-self: flex-start;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .followBtn {
  border: none;
  border-radius: 0.5rem;
  background-color: #FF7A00;
  color: #F8F8FF;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
  padding: 1rem;
  height: fit-content;
}
.homeContainer #rightContainer .randomUsersContainer .randomUsersWrapper .unfollowBtn {
  border: none;
  border-radius: 0.5rem;
  background-color: #FF7A00;
  color: #F8F8FF;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  padding: 0.9rem;
  background-color: #F8F8FF;
  color: #232323;
  border: 2px solid #FF7A00;
  font-weight: 900;
  font-size: 1rem;
  height: fit-content;
}
.homeContainer #rightContainer .CGUWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.homeContainer #rightContainer .CGUWrapper p {
  font-size: 1.25rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
