@import './font.scss';
@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centerThis {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin setHeightWidth($height, $width) {
    height: $height;
    width: $width;
}

@mixin generalContainer {
    background-color: $white;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
}

@mixin generalButton {
    border: none;
    border-radius: 0.5rem;
    background-color: $primary;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

#loginBody {
    @include centerThis;
    height: 100dvh;
    background-color: $primary;
}

body {
    @include centerThis;
    height: 100dvh;
    background-color: $white;
    overflow: hidden;
}

#registerContainer {
    @include centerThis;
    flex-direction: column;
    // @include setHeightWidth(85dvh, 35dvw);
    padding: clamp(3rem, 2.5vw, 10rem) clamp(5rem, 2.5vw, 10rem);
    background-color: $white;
    gap: 1.5rem;
    border-radius: 1rem;
    transition: all 0.25s ease-in-out;
}

#loginContainer {
    @include centerThis;
    flex-direction: column;
    // @include setHeightWidth(55dvh, 35dvw);
    padding: clamp(3rem, 2.5vw, 10rem) clamp(5rem, 2.5vw, 10rem);
    background-color: $white;
    gap: 1.5rem;
    border-radius: 1rem;
    transition: all 0.25s ease-in-out;
} 

.hide {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.show {
    opacity: 1;
    position: relative;
    pointer-events: all;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputContainer input {
    @include setHeightWidth(3.5rem, 22rem);
    border-radius: 0.5rem;
    border: solid 1px $black;
    padding: 0 1rem;
    font-size: 1rem;   
    &::placeholder {
        color: $black;
    } 
    &:active, &:focus {
        outline: none;
    }
}

.bigBtn {
    @include setHeightWidth(3.5rem, 14rem);
    border-radius: 0.5rem;
    border: none;
    background-color: $primary;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.wrongPass{
    border : solid 2px $red!important;
    background-color: $red2;
}

.goodPass{
    border : solid 1px $black!important;
    background-color: $white;
}

.disabledBtn {
    background-color: $grey;
    pointer-events: none;
}

.enabledBtn {
    background-color: $primary;
    pointer-events: all;
}

.linkOrange {
    font-weight: 700;
    color: $primary;
    &:hover {
        cursor: pointer;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext{
        visibility: hidden;
        background-color: $black;
        color: $white;
        text-align: center;
        padding: 1.5rem 1.5rem;
        border-radius: 0.5rem;
        position: absolute;
        z-index: 1;
        margin-left: 0.5rem;
        width: clamp(10rem, 15vw, 20rem);
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
}

.homeContainer {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    & > div {
        // background-color: $red;
        height: 100%;
    }
    #leftContainer {
        width: 25dvw;
        display: flex;
        align-items: center;
        flex-direction: column;
        #homeLogo{
            width: 50%;
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
        .Wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex-grow: 0.8;
            a{
                color: $black;
            }
            a:link {
                text-decoration: none;
            }
            .menuWrapper{
                display: flex;
                gap: 1.5rem;
                p {
                    font-weight: 900;
                    font-size: 2rem;
                }
                img {
                    align-self: center;
                }
            }
        }
        .profilContainer {
            @include generalContainer;
            width: 90%;
            display: flex;
            padding: 1rem;
            img {
                width: 15%;
                height: auto;
                border-radius: 0.5rem;
            }
            .userInfo{
                margin-left: 1rem;
                .usernameInfo{
                    font-weight: 900;
                    font-size: 1.5rem;
                }
                .tagInfo{
                    font-size: 1.5rem;
                }
            }
        }
    }
    #middleContainer {
        width: 45dvw;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none; 
        padding: 0rem 1rem;
        .feedSelectorContainer {
            min-height: 10dvh;
            @include centerThis;
            font-size: 1.5rem;
            font-weight: 900;
            @include generalContainer;
            margin-top: 1rem;
            .forYou{
                width: 50%;
                display: flex;
                justify-content: center;
            }
            .sub {
                width: 50%;
                display: flex;
                justify-content: center;
            }            
        }
        .writeBetsContainer {
            min-height: 30dvh;
            @include generalContainer;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            textarea{
                background-color: $white;
                align-self: center;
                width: 95%;
                height: 60%;
                border: none;
                font-size: 1.5rem;
                font-weight: 400;
                resize: none;
                padding: 1rem 2rem;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    font-family: 'Quicksand', sans-serif;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
            .betsButtonContainer{
                display: flex;
                height: 20%;
                button{
                    @include generalButton;
                    height: 95%;
                    width: 20%;
                    font-size: 1.5rem;
                    font-weight: 900;
                }
                #fill {
                    width: 77.5%;
                }
            }
        }
        #orangeSeparator {
            width: 50%;
            min-height: 0.5rem;
            border-radius: 0.5rem;
            background-color: $primary;
            align-self: center;
        }
        .bets {
            @include generalContainer;
            padding: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .userInfoWrapper {
                display: flex;
                gap: 1rem;
                img {
                    width: 10%;
                    height: auto;
                    border-radius: 0.5rem;
                }
                .userInfo {
                    .usernameInfo {
                        font-weight: 900;
                    }
                    .tagInfo {
                        font-weight: 400;
                    }
                }
            }
            .betContent{
                margin-left: 10%;
                padding-left: 1rem;
            }
            .actionsWrapper {
                display: flex;
                gap: 7.5rem;
                margin-left: 10%;
                padding-left: 1rem;
                >* {
                    display: flex;
                    gap: 1rem;
                }
                .like {
                    img {
                        align-self: center;
                    }
                }
                .comment {
                    img {
                        align-self: center;
                    }
                }
                .share {
                    img {
                        align-self: center;
                    }
                }
            }
        }
    }
    #rightContainer {
        width: 25dvw;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .randomUsersContainer{
            @include generalContainer;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: fit-content;
            margin-top: 1rem;
            padding: 2rem;
            height: 70%;
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none; 
            .randomUsersTitle{
                font-size: 1.5rem;
                font-weight: 900;
            }
            .randomUsersWrapper{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                gap: 1rem;
                .randomUser:not(:first-child){
                    margin-top: 2rem;
                }
                .randomUser{
                    display: flex;
                    gap: 1rem;
                    height: 100%;
                    img {
                        width: 15%;
                        height: auto;
                        border-radius: 0.5rem;
                        align-self: center;
                    }
                    .randomUserInfo {
                        .randomUsernameInfo {
                            font-size: 1.25rem;
                            font-weight: 900;
                        }
                        .randomTagInfo {
                            font-size: 1.25rem;
                            font-weight: 400;
                        }
                    }
                    .check{
                        width: 10%;
                        height: auto;
                        align-self: flex-start;
                    }
                }
                .followBtn{
                    @include generalButton;
                    font-weight: 900;
                    font-size: 1rem;
                    padding: 1rem;
                    height: fit-content;
                }
                .unfollowBtn{
                    @include generalButton;
                    padding: 0.9rem;
                    background-color: $white;
                    color: $black;
                    border: 2px solid $primary;
                    font-weight: 900;
                    font-size: 1rem;
                    height: fit-content;
                }
            }
        }
        .CGUWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            p {
                font-size: 1.25rem;
                font-weight: 400;
            }
        }
    }
}












